.login {
    height: 900px;
    align-items: center;
}

.login .col {
    height: 700px;
}

.login .col:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo_box>h1 {
    text-align: center;
    color: #ffff;
    margin-top: 20px;
}

.logo {
    background: #15928a;
    width: 500px;
    height: 120px;
}

.logo_size {
    color: #ffff;
}


/* input */

.login_input_box {
    border-bottom: 1px solid #cccc;
}

.input-group,
.form-group {
    width: 600px;
    margin-bottom: 3rem;
}

.form-control {
    border-color: teal;
}

.login_form {
    width: 80%;
    height: 50%;
}

.login_input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
}


/* 按钮 */

.login_btn {
    display: flex;
    justify-content: space-around;
}

.login_btn input {
    width: 150px;
}

.login_pwd {
    display: flex;
    justify-content: flex-end;
}

.login_alter_pwd {
    color: #cccccc;
}

.article-last {
    width: 100%;
    display: flex;
    justify-content: center;
}


/*  */

@media screen and (min-width:300px) and (max-width:710px) {
    body {
        /* background: #000; */
    }
    .login {
        width: 34rem;
        height: 20rem;
        margin-left: -5rem;
    }
    .login .col {
        height: 20rem;
    }
    .login_input {
        width: 20%;
    }
    .login_input_box {
        border: none;
    }
    .input-group,
    .form-group {
        width: 500px;
    }
}

@media screen and (min-width:710px) and (max-width:870px) {
    body {
        /* background: yellow; */
    }
    .login .col {
        height: 25rem;
        margin-bottom: 5rem;
    }
    .login_input {
        padding-bottom: 20rem;
    }
    .article-last {
        padding-top: 3rem;
    }
    .login_input_box {
        padding-right: 35rem;
    }
    .article-last {
        white-space: nowrap;
        padding-left: 17rem;
    }
    .logo_size {
        white-space: nowrap;
    }
}

@media screen and (min-width:870px) and (max-width:1200px) {
    body {
        /* background: blue; */
    }
    .login .col {
        height: 30rem;
    }
    .login_input_box {
        padding-left: 5rem;
        border: none;
    }
    .article-last {
        margin-left: -4rem;
        margin-top: 3rem;
    }
    .login_input {
        justify-content: end;
    }
    .login_input_box {
        border: none;
    }
    .article-last {
        white-space: nowrap;
    }
    .logo_size {
        white-space: nowrap;
    }
}

@media screen and (min-width:1200px) and (max-width:1574px) {
    body {
        /* background: red; */
    }
    .login .col {
        width: 50%;
    }
    .logo {
        width: 27rem;
        height: 5rem;
    }
    .login_form {
        width: 41rem;
    }
    .input-group,
    .form-group {
        width: 25rem;
    }
    .article-last {
        white-space: nowrap;
    }
    .logo_size {
        white-space: nowrap;
    }
}