@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1606184260596'); /* IE9 */
  src: url('iconfont.eot?t=1606184260596#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKsAAsAAAAABmQAAAJhAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApkbgE2AiQDCAsGAAQgBYRtBzkbnQXIHpKkB0WycRhzjgUAQDw8rdHen509cU+iiGbRRL4EHr2ahWjVOoRCJdHEM3knb+012i+yie/P9lmccQRdgAUWcFtrmQcugc20isC9KpFCe5jd4/zkcy0bWVZVpgZcTn8UUCDzgHLbk8aaPCZgYGlAe2ObrEgibxi7wCWcJ9BgBAcPH1/eQFtmTQvEudh60M55ZZkl6oSamrVZPFaqS3fSJzwKvx//LEebpCxYJcd2jkLY/WnsFHy7ug3O+gQfAW0uUWAJkIlTtdEjaoKxsIZo3QSwr8Lg585f+RaxV6Ngf52V3wSGoOiexK7kVvMTyHF3H2Bs1ONITU3Xxl68WaL3e/P2910x/vr9svm4OxN+vd38G58ZC7S7/mH03xvy+SC7Wi8vku5G9qc2np+EXYDqId4o3qCC4PDBnd0Z3/2/rpfBl68PD4fu6iHRzw7qdmULfom4Z1PWpZY5ZVVca0/6Rk1NaNCACnZ2eMfqus+fDHW678JeazhFoc4UmZlLKDVaRY06+9BgkdvcqNNQE7keCw6A0OZE0uIjCm1uMjMflHp8qNEWNTQ4E517NpqJuHtIyFMK0T/hFnBhHKt2o8IrsmXmSVYasu9IhnEAjdTFxAkVJHMsmPd2e6nBLJyjBZdRljE24YQCXa+qg75Sue5N64Fz6DpEEI8iIeQ9QZsAKxi/s+qWPn+FWKWMR1rKaoJ3iBiKe0eGpHuQJ6qiV9m9XDPds7YtykCZYDlkwSiSyTDU6kclSECtqyPCA33Kbpf7qtbX1+QfUMiqsPQp7L6F1quRV9jH2EucjEK5BAAA') format('woff2'),
  url('iconfont.woff?t=1606184260596') format('woff'),
  url('iconfont.ttf?t=1606184260596') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1606184260596#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangxiajiantou:before {
  content: "\e666";
}

