<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="../public/jQuery/jQuery.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="../public/bootstrap/js/bootstrap.js"></script>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/bootstrap/js/bootstrap.bundle.js"></script>
    <link rel="icon" href="../img/logo_icont.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../img/logo_icont.png" type="image/x-icon" />
    <style>
        body {
            width: 80%;
            margin: 0 auto;
        }
        
        #login_err {
            position: absolute;
            width: 84%;
            top: 10%;
            left: 9%;
            visibility: hidden;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row login">
            <div class="col col-sm-12 col-xl-6 cl-12" style="background-color:#15928a;" id="logo_first">
                <article class="logo_box">
                    <a href="01logoin.html">
                        <img src="../img/login_log.png" alt="" class="logo">
                    </a>
                    <h1>
                        欢迎登录有样儿分量系统
                    </h1>
                </article>
                <article class="logo_size">
                    <p>@ 2020 SSKOO AII PRSSERVED | SSKOO.COM | 鄂ICP备20000696号</p>
                </article>
            </div>
            <div class="col login_input_box">
                <div class="alert alert-danger" id="login_err">
                    <strong>错误!</strong> 填写格式错误~~~
                </div>
                <article class="login_input">
                    <form action="./02admin.html" class="login_form">
                        <div class="form-group input-group">
                            <input type="text" class="form-control" placeholder="登录角色" id="role" name="erole">
                            <div class="btn-group dropright">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
                                <div class="dropdown-menu">
                                    <!-- Dropdown menu links -->
                                    <a class="dropdown-item" href="javascript:">管理员页面</a>
                                    <a class="dropdown-item" href="javascript:">销售员页面</a>
                                    <a class="dropdown-item" href="javascript:">推广员页面</a>
                                    <!-- <div class="dropdown-divider"></div> -->
                                    <!-- <a class="dropdown-item" href="#">Separated link</a> -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="phone" placeholder="手机号码">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pwd" placeholder="密码">
                        </div>
                        <div class="form-group  login_pwd">
                            <a href="12update_pwd.html" class="login_alter_pwd">修改密码</a>
                        </div>
                        <div class="form-group login_btn">
                            <input type="submit" name="submit" class="btn btn-info" value="登录" id="enter">
                            <input type="button" class="btn btn-info" value="重置" id="reset">
                        </div>
                    </form>
                </article>
                <article class="article-last">
                    <span>@ 2020 SSKOO AII PRSSERVED | SSKOO.COM | 鄂ICP备20000696号</span>
                </article>
            </div>
        </div>
    </div>
    <script src="../JS/reg.js"></script>
    <script src="../JS/01login.js"></script>
</body>

</html>