<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="../public/jQuery/jQuery.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="../public/bootstrap/js/bootstrap.js"></script>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/bootstrap/js/bootstrap.bundle.js"></script>
</head>

<body>

    <div class="container-fluid">
        <div class="row login">
            <div class="col col-sm-12 col-xl-6 cl-12" style="background-color:#15928a;" id="logo_first">
                <article class="logo_box">
                    <img src="../img/login_log.png" alt="" class="logo">
                    <h1>
                        欢迎登录有样儿分量系统
                    </h1>
                </article>
                <article class="logo_size">
                    <p>@ 2020 SSKOO AII PRSSERVED | SSKOO.COM | 鄂ICP备20000696号</p>
                </article>
            </div>
            <div class="col login_input_box">
                <article class="login_input">
                    <form action="" class="login_form">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="登录角色" id="mail" name="email">
                            <div class="btn-group dropright">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
                                <div class="dropdown-menu">
                                    <!-- Dropdown menu links -->
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="手机号码">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pwd" placeholder="密码">
                        </div>
                        <div class="form-group  login_pwd">
                            <a href="#" class="login_alter_pwd">修改密码</a>
                        </div>
                        <div class="form-group login_btn">
                            <input type="submit" class="btn btn-info" value="登录">
                            <input type="submit" class="btn btn-info" value="重置">
                        </div>
                    </form>
                </article>
                <article class="article-last">
                    <span>@ 2020 SSKOO AII PRSSERVED | SSKOO.COM | 鄂ICP备20000696号</span>
                </article>
            </div>
        </div>
    </div>
</body>

</html>