<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="icon" href="../img/logo_icont.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../img/logo_icont.png" type="image/x-icon" />
</head>

<body>
    <main>
        <nav>
            <img src="../img/log.png" alt="">
        </nav>
        <div class="text">
            <h1>管理员操作页面</h1>
        </div>
    </main>
    <div class="img">
        <a href="04ea_list.html">
            <img src="../img/extension_agent.png" alt="">
        </a>
        <a href="09saler_platform.html">
            <img src="../img/salesman.png" alt="">
        </a>
    </div>
</body>

</html>