<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/list.css">
    <link rel="icon" href="../img/logo_icont.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../img/logo_icont.png" type="image/x-icon" />
    <script src="../public/jQuery/jQuery.js"></script>
</head>

<body>
    <nav>
        <img src="../img/log.png" alt="">
        <div class="text">
            <h1>推广员列表</h1>
        </div>
    </nav>
    <div class="form_box">
        <form>
            <article class="form-group">
                <article>
                    <input type="tel" class="form-csontrol" id="phone" placeholder="输入手机号">
                    <input type="button" class="btn btn-info find" value="查找" id="find">
                </article>

                <article>
                    <a href="05add_ea.html">
                        <input type="button" class="btn btn-info" value="+推广员工添加">
                    </a>
                    <a href="10extension_agent_platform.html">
                        <input type="button" class="btn btn-info" value="+查看所有" id="to_see_all">
                    </a>
                </article>
            </article>
        </form>
    </div>


    <div class="card">
        <div class="card-body">简单的卡片</div>
    </div>

    <div class="hint">
        <div class="hint-body">??数据??</div>
    </div>

    <!-- table -->
    <div class="table" id="tab">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-info">
                    <th>录入时间</th>
                    <th>推广员</th>
                    <th>手机号</th>
                    <th>推广员微信</th>
                    <th>登录密码</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <ul class="pagination"></ul>
    <script src="../JS/04ea_list.js"></script>
</body>

</html>