<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/add.css">
    <link rel="icon" href="../img/logo_icont.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../img/logo_icont.png" type="image/x-icon" />
    <script src="../public/jQuery/jQuery.js"></script>
</head>

<body>
    <nav>
        <a href="09saler_platform.html">
            <img src="../img/log.png" alt="">
        </a>
        <div class="text">
            <h1>修改销售员</h1>
        </div>
    </nav>

    <div class="inputs">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="姓名">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="phone" placeholder="手机号码">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="weixin" placeholder="微信号码">
            </div>

            <div class="input-group" id='file'>
                <button type="button" class="btn btn-primary form-control" id="test3" onclick="document.getElementById('data').click()">点击选择</button>
                <input id="data" type="file" class="form-control hidden" onchange="document.getElementById('test2').value = this.value" style="display: none;">
                <input id="test2" type="button" accept="image/*" class="btn btn-default form-control" value="二维码上传文件" onclick="document.getElementById('data').click()">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="pwd" placeholder="密码">
            </div>
            <div class="sub">
                <button type="button" class="btn btn-primary  btn-success" id="btn">保存</button>
            </div>
        </form>
    </div>
    <div class="add_text">
        <span>重庆友祥儿教育科技有限公司</span>
        <span>重庆市江北区星耀天地21栋1408</span>
    </div>
    <script src="../JS/08update_saler.js"></script>
</body>

</html>