<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/font/arrows/iconfont.css">
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/list.css">
    <script src="../public/jQuery/jQuery.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="../public/bootstrap/js/bootstrap.js"></script>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/bootstrap/js/bootstrap.bundle.js"></script>
    <link rel="icon" href="../img/logo_icont.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../img/logo_icont.png" type="image/x-icon" />
</head>

<body>
    <nav>
        <img src="../img/log.png" alt="">
        <div class="text">
            <h1>销售员平台</h1>
        </div>
    </nav>
    <div class="form_box">
        <form>
            <article class="form-group">
                <article>
                    <input type="email" class="form-csontrol" id="weixin" placeholder="输入微信号">
                    <input type="button" class="btn btn-info find" value="查找">
                    <div class="dropdown">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" id="if_add">是否添加</button>
                        <input type="text" id="if_add_none">
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">是</a>
                            <a class="dropdown-item" href="#">否</a>
                        </div>
                    </div>
                </article>
            </article>

        </form>
    </div>


    <div class="card">
        <div class="card-body">简单的卡片</div>
    </div>

    <div class="hint">
        <div class="hint-body">??数据??</div>
    </div>


    <!-- table -->
    <div class="table" id="tab">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-info">
                    <th>录入时间</th>
                    <th>微信</th>
                    <th>推广人员</th>
                    <th>是否已添加</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <ul class="pagination"></ul>
    <script src="../JS/09saler_platform.js"></script>
</body>

</html>