<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/list.css">
    <link rel="stylesheet" href="../public/font/arrows/iconfont.css">
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <script src="../public/jQuery/jQuery.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="../public/bootstrap/js/bootstrap.js"></script>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/bootstrap/js/bootstrap.bundle.js"></script>
    <style>
        .channel {
            width: 85%;
            display: flex;
            justify-content: flex-end;
        }
        
        .alert {
            display: flex;
        }
    </style>
</head>

<body>
    <nav>
        <img src="../img/log.png" alt="">
        <div class="text">
            <h1>推广员工作平台</h1>
        </div>
    </nav>
    <div>
        <form>
            <article class="form-group">
                <article>
                    <input type="button" class="btn btn-info find" value="开始时间">
                    <input type="button" class="btn btn-info find" value="结束时间">
                    <input type="button" class="btn btn-info" value="导出">
                    <button type="button" class="btn btn-info">
                        <span>是否添加</span>
                        <span class="iconfont icon-shangxiajiantou"></span>
                    </button>
                </article>
            </article>
        </form>
    </div>

    <!-- table -->
    <div class="table" id="tab">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-info">
                    <th>录入时间</th>
                    <th>推广员</th>
                    <th>客户微信</th>
                    <th>渠道</th>
                    <th>销售顾问</th>
                    <th>销售顾问微信</th>
                    <th>是否添加</th>
                    <th>销售顾问二维码</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2020-11-14 13:52:58</td>
                    <td>xxx</td>
                    <td>
                        <p>wx-30977</p>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">修改微信</button>
                    </td>
                    <td>QQ</td>
                    <td>xxx</td>
                    <td>wx-86787</td>
                    <td>未添加</td>
                    <td>
                        <img src="../img/QR_code.png" alt="">
                    </td>
                </tr>

                <!-- 模态框 -->
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- 模态框头部 -->
                            <div class="modal-header">
                                <h4 class="modal-title">模态框头部</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- 模态框主体 -->
                            <div class="modal-body">
                                <div class="alert">
                                    <h4>微信</h4>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" placeholder="输入微信号">
                                    </div>
                                </div>
                            </div>

                            <!-- 模态框底部 -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            </div>

                        </div>
                    </div>
                </div>

                <tr>
                    <td>2020-11-14 13:52:58</td>
                    <td>xxx</td>
                    <td>
                        <p>wx-30977</p>
                        <button type="button" class="btn btn-success">修改微信</button>
                    </td>
                    <td>QQ</td>
                    <td>xxx</td>
                    <td>wx-86787</td>
                    <td>未添加</td>
                    <td>
                        <img src="../img/QR_code.png" alt="">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="channel">
        <button type="button" class="btn btn-success">-QQ渠道添加</button>
    </div>

    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class=""> . . . . . </li>
        <li class="page-item"><a class="page-link" href="#">10</a></li>
        <li class="page-item"><a class="page-link" href="#">100</a></li>
        <li class="page-item"><a class="page-link" href="#">跳到</a></li>
        <li class="page-item">
            <input type="text" class="form-csontrol seek">
        </li>
    </ul>
</body>

</html>