<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/add.css">
    <script src="../public/jQuery/jQuery.js"></script>
    <script src="../JS/reg.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="../public/bootstrap/js/bootstrap.js"></script>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/bootstrap/js/bootstrap.bundle.js"></script>
    <link rel="icon" href="../img/logo_icont.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../img/logo_icont.png" type="image/x-icon" />
    <style>
        .form-group {
            height: 38px;
        }
        
        .card {
            visibility: hidden;
        }
    </style>
</head>

<body>
    <nav>
        <img src="../img/log.png" alt="">
        <div class="text">
            <h1>修改密码</h1>
        </div>
    </nav>

    <div class="card">
        <div class="card-body bg-danger">修改密码失败(格式错误)</div>
    </div>

    <div class="inputs">
        <form action="" method="POST">
            <div class="form-group input-group">
                <input type="text" class="form-control" placeholder="登录角色" id="role" name="erole">
                <div class="btn-group dropright">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
                    <div class="dropdown-menu">
                        <!-- <a class="dropdown-item" href="javascript:">管理员页面</a> -->
                        <a class="dropdown-item" href="javascript:">销售员页面</a>
                        <a class="dropdown-item" href="javascript:">推广员页面</a>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="phone" placeholder="手机号码">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="old_pwd" placeholder="密码">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="new_pwd" placeholder="新密码">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="again_pwd" placeholder="再次确认新密码">
            </div>
            <div class="sub">
                <button type="button" class="btn btn-primary  btn-success" id="update">修改</button>
            </div>
        </form>
    </div>
    <div class="add_text">
        <span>重庆友祥儿教育科技有限公司</span>
        <span>重庆市江北区星耀天地21栋1408</span>
    </div>
    <script src="../JS/12update.js"></script>
</body>

</html>